/* VARIABLES */


/* GLOBALS */

*
, html
, body
, *:before
, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0 !important;
}

html, body {
    background-color: var(--normal-background-color);
    font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    color: var(--normal-text-color);
    height: 100%;
}

body {
    min-width: 360px;
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b9b9b9;
}

input[type="text"]::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
    color: #b9b9b9;
}

input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
    color: #b9b9b9;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
    color: #b9b9b9;
}

/* FRAMEWORKS AND LIBRARIES FIXES */

.select2-results__option
, .select2-search__field {
    color: #000;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em 0 0 .5em;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: .05em .5em .5em .4em;
}

.panel-deskmed {

}

.panel-deskmed > .panel-heading {
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    border-color: #ddd;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.panel-deskmed > .panel-body {
    color: black;
}

.ui-widget-overlay {
    background: #000;
    opacity: .3;
}

.ui-dialog .ui-dialog-buttonpane {
    border-width: 0;
}

.ui-datepicker {
    z-index: 2 !important;
}

.select2-dropdown {
    z-index: 99 !important;
}


/* OTHER CSS RULES */


.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.esconder {
    display: none;
}

.div-alerta {
    padding: 15px !important;
}

.ui-dialog-titlebar-close {
    display: none;
}

input, textarea {
    outline: none;
}

.flex-center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-vert {
    display: flex;
    align-items: center;
}

.flex-center-hor {
    display: flex;
    justify-content: center;
}

.div-alerta {
    text-align: center;
}

.post-error-list {
    text-align: left;
}

/**** APP ****/

.main-container {
    display: flex;
    height: 100%;
}

.side-menu {
    flex: 0 0 auto;
    position: fixed;
    height: 100%;
    z-index: 3;
}

.content {
    flex: 1;
    margin-left: 60px;
}

.dm-header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.dm-content {
    margin-top: 50px;
    padding: 15px;

    max-width: 1080px;
    height: calc(100% - 50px);
    min-height: 500px;
    /*border: 1px solid black;*/
}

.dm-footer {
    position: fixed;
    bottom: 2px;
    padding-left: 5px;
}

/*** HEADER ***/

.header-container {
    height: 50px;
    margin-left: 60px;
    min-width: 300px;
    /*background-color: tomato;*/
    background-color: var(--header-background-color);
    color: var(--secondary-text-color);
    border-bottom: 1px solid var(--secondary-border-color);

    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.75);
}

.header-content-wrapper {
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    /*background-color: tomato;*/

    display: flex;
}

.header-content-wrapper > div {
    /*border: 1px solid black;*/
}

.header-logo {
    flex: 0 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dm-logo {
    position: relative;
    background-repeat: no-repeat;
    z-index: 1000;
    display: inline-block;
    vertical-align: middle;
    text-indent: -99999px;
    overflow: hidden;
}

.dm-logo-small {
    width: 40px;
    height: 40px;
    background-image: url(../img/deskmed.png);
    background-position: 50% 50%;
    background-size: 60px 35px;
}

.header-search {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.header-search .input-group .input-group-addon {
    top: 0 !important;
}

.header-search .input-group .input-group-addon::before {
    opacity: .7;
}

.header-search .input-group .input-group-addon:hover::before {
    opacity: 1;
}

.header-user-ui {
    flex: 0 0 100px;

    display: flex;
}

.header-user-notifications
, .header-user-settings {
    width: 50px;
    height: 100%;
    /*border: 1px solid black;*/

    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-user-settings {
    position: relative;
}

.profile-row {

}

.header-a-notif {
    width: 25px;
    height: 25px;
    position: relative;
}

.header-notifications-count {
    position: absolute;
    background-color: tomato;
    color: white;
    font-size: .7em;
    padding: 0 4px;
    right: -6px;
    top: -2px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.header-a-notif > img
, .header-a-profile > img {
    width: 100%;
    height: 100%;
}

.header-a-profile {
    width: 35px;
    height: 35px;
}

.header-a-profile > img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-user-drag: none;
}

.profile-menu {
    position: absolute;
    display: none;
}

.profile-row {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 5px solid var(--menu-bg-color);;

    bottom: -1px;
    right: 18px;
}

.profile-window {
    width: 150px;
    background-color: var(--menu-bg-color);
    top: calc(100% + 1px);
    right: 0;
    padding: 5px 0;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.profile-window > ul {
    list-style: none;
    margin-bottom: 0 !important;
}

.profile-setting {
    height: 40px;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: .75em;
    font-weight: bold;
}

.profile-setting > img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.profile-setting:hover {
    background-color: var(--menu-bg-color-hover);
}

.txt-header-search {
    width: 100%;
    height: 35px;
    color: black;
    padding: 0 10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    outline: 0 !important;
}

#btn-search {
    cursor: pointer;
}

/*** MENU ***/

.side-menu-container {
    display: flex;
    height: 100%;
}

.side-menu-container > div {
    background-color: var(--menu-bg-color);
    padding: 5px 0;
}

.side-menu-minified {
    /*flex: 0 0 60px;*/
    width: 60px;
    position: relative;

    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -ms-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms;
}

.side-menu-item-container {
    list-style: none;
}

.side-menu-item-container .side-menu-collapser
, .side-menu-item-container .side-menu-item {
    /*padding: 5px 10px 5px 15px;*/
    padding: 5px 13px;
}

.side-menu-item-container .side-menu-collapser {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.side-menu-item-container .img-menu {
    cursor: pointer;
}

.side-menu-item-container .side-menu-item:not(.no-cursor-li) {
    cursor: pointer;
}

.side-menu-item-container .side-menu-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: background-color, border-right 200ms;
    -moz-transition: background-color, border-right 200ms;
    -ms-transition: background-color, border-right 200ms;
    -o-transition: background-color, border-right 200ms;
    transition: background-color, border-right 200ms;
}

.side-menu-item-container .side-menu-item:hover {
    background-color: var(--menu-bg-color-hover);
}

.side-menu-item-container > .side-menu-item.side-menu-selected {
    border-right: 5px solid var(--secondary-background-color);
    background-color: var(--menu-bg-color-hover);
}

.img-menu {
    width: var(--menu-icon-size);
    height: var(--menu-icon-size);
    flex: none;
    /*background-color: #00b3ee;*/
}

.content-menu {
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: .08em;
    flex: 1;
    display: none;
    line-height: var(--menu-icon-size);
    position: relative;
}

.td-content-menu {
    vertical-align: middle;
    padding-top: 6px;
    position: relative;
}

.content-menu-inp {
    color: black;
    font-weight: normal;
    padding: 0 5px;
    line-height: 20px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu-pad-helper {
    padding-top: 3px;
}

.menu-chat {
    position: absolute;
    bottom: 0;
}

.menu-chat-messages-container {
    position: relative;
}

.menu-chat-messages {
    position: absolute;
    background-color: tomato;
    color: white;
    font-size: .7em;
    padding: 0 4px;
    right: -6px;
    top: 0;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*** Animate menu ***/

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    font-size: 0;
    text-indent: -9999px;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    background-color: transparent;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    height: 4px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
    top: -10px;
}

.c-hamburger span::after {
    bottom: -10px;
}

/* HTLA */

.c-hamburger--htla {
    background-color: transparent;
}

.c-hamburger--htla span {
    transition: transform 0.3s;
}

.c-hamburger--htla span::before {
    transform-origin: top right;
    transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htla span::after {
    transform-origin: bottom right;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
.c-hamburger--htla.is-active {
    background-color: transparent;
}

.c-hamburger--htla.is-active span {
    transform: rotate(180deg);
    left: 4px;
}

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
    width: 50%;
}

.c-hamburger--htla.is-active span::before {
    top: 0;
    transform: translateX(16px) translateY(2px) rotate(45deg);
}

.c-hamburger--htla.is-active span::after {
    bottom: 0;
    transform: translateX(16px) translateY(-2px) rotate(-45deg);
}

/* HTRA */
.c-hamburger--htra {
    background-color: #ff9650;
}

.c-hamburger--htra span {
    transition: transform 0.3s;
}

.c-hamburger--htra span::before {
    transform-origin: top left;
    transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htra span::after {
    transform-origin: bottom left;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
.c-hamburger--htra.is-active {
    background-color: #e95d00;
}

.c-hamburger--htra.is-active span {
    transform: rotate(180deg);
}

.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
    width: 50%;
}

.c-hamburger--htra.is-active span::before {
    top: 0;
    transform: translateX(-8px) translateY(4px) rotate(-45deg);
}

.c-hamburger--htra.is-active span::after {
    bottom: 0;
    transform: translateX(-8px) translateY(-4px) rotate(45deg);
}

/* HTX */

.c-hamburger--htx {
    background-color: transparent;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
    background-color: transparent;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}

/* Animate menu END */

/* Global animations */

.loading-deskmed {
    animation: .8s infinite beatHeart;
}

@keyframes beatHeart {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*****************
   Global rules
*****************/

.dm-title1 {
    width: 100%;
    color: var(--secondary-background-color);
    font-size: 2em;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.content-title {
    width: 100%;
    color: var(--secondary-background-color);
    font-size: 2em;
    text-align: left;
    text-shadow: black 0 1px 0.05em;
    margin-bottom: 20px;

    -webkit-box-shadow: 0 5px 4px -5px #000;
    -moz-box-shadow: 0 5px 4px -5px #000;
    box-shadow: 0 5px 4px -5px #000;

    border-bottom: 3px solid var(--secondary-background-color);
}

.basic-form-container {
    padding: 5px 15px;
    margin-bottom: 25px;
    position: relative;
}


.date-container {
    position: relative;
}

.date-container > span {
    position: absolute;
    top: 50%;
    right: 22px;
    transform: translateY(-50%);
}

.date-container > input {
    padding-right: 25px;
}

select {
    cursor: pointer;
}

.profile-img-container {
    position: relative;
    width: 205px;
    height: 205px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img-container img {
    width: 200px;
    height: 200px;
    padding: 5px;
    background-color: var(--secondary-background-color);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;

    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.55);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.55);
}

/*** XS ***/

@media (max-width: 767px) {
    .header-search {
        padding-left: 10px;
    }

    .content-title {
        font-size: 1em;
        font-weight: bold;
        text-shadow: none;
        margin-bottom: 10px;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        border-bottom: 1px solid var(--secondary-background-color);
    }

    .dialog-responsive {
        width: 300px !important;
        left: 30px !important;
    }
}