/* VARIABLES */


/* GLOBALS */

*
, html
, body
, *:before
, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0 !important;
}

html, body {
    background-color: var(--normal-background-color);
    font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    color: var(--normal-text-color);
    height: 100%;
}

/* FRAMEWORKS AND LIBRARIES FIXES */

.select2-results__option
, .select2-search__field {
    color: #000;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em 0 0 .5em;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: .05em .5em .5em .4em;
}

.panel-deskmed {

}

.panel-deskmed > .panel-heading {
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    border-color: #ddd;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.panel-deskmed > .panel-body {
    color: black;
}

.ui-widget-overlay {
    background: #000;
    opacity: .3;
}

.ui-dialog .ui-dialog-buttonpane {
    border-width: 0;
}

.select2-dropdown {
    z-index: 99 !important;
}


/* OTHER CSS RULES */


.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.esconder {
    display: none;
}

.div-alerta {
    padding: 15px !important;
}

.ui-dialog-titlebar-close {
    display: none;
}

input, textarea {
    outline: none;
}

.flex-center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-vert {
    display: flex;
    align-items: center;
}

.flex-center-hor {
    display: flex;
    justify-content: center;
}

.div-alerta {
    text-align: center;
}

.post-error-list {
    text-align: left;
}

/**** APP ****/


.main-container {
    display: flex;
    height: 100%;
}

.side-menu {
    flex: 0 0 300px; /* do not grow, do not shrink, start at 300px */
}

.content {
    flex: 1;
}


.footer {
    position: fixed;
    bottom: 2px;
    padding-left: 5px;
}


/*** MENU ***/


.side-menu-container {
    display: flex;
    height: 100%;
}

.side-menu-container > div {
    background-color: var(--menu-bg-color);
    padding: 5px 0;
}

.side-menu-minified {
    /*flex: 0 0 60px;*/
    width: 60px;

    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    -ms-transition: width 350ms;
    -o-transition: width 350ms;
    transition: width 350ms;
}

/*.side-menu-expanded {*/
    /*flex: 1;*/
    /*display: none;*/
/*}*/

.side-menu-item-container {
    list-style: none;
}

.side-menu-item-container .side-menu-collapser
, .side-menu-item-container .side-menu-item {
    /*padding: 5px 10px 5px 15px;*/
    padding: 5px 13px
}

.side-menu-item-container .side-menu-collapser {
    margin-bottom: 5px;
}

.side-menu-item-container .img-menu {
    cursor: pointer;
}

.side-menu-item-container .side-menu-item:not(.no-cursor-li) {
    cursor: pointer;
}

.side-menu-item-container .side-menu-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
}

.side-menu-item-container .side-menu-item:hover {
    background-color: var(--menu-bg-color-hover);
}

.side-menu-item-container > .side-menu-item.side-menu-selected {
    border-right: 5px solid var(--secondary-background-color);
}

.img-menu {
    width: var(--menu-icon-size);
    height: var(--menu-icon-size);
    flex: none;
    /*background-color: #00b3ee;*/
}

.content-menu {
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: .08em;
    flex: 1;
    display: none;
    line-height: var(--menu-icon-size);
    position: relative;
}

.td-content-menu {
    vertical-align: middle;
    padding-top: 6px;
    position: relative;
}

.content-menu-inp {
    color: black;
    font-weight: normal;
    padding: 0 5px;
    line-height: 20px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.icon-search-menu {
    position: absolute;
    left: 18px;
    top: 45%;
    cursor: pointer;
}

.menu-pad-helper {
    padding-top: 3px;
}

.txt-search-menu {
    padding-left: 25px;
    width: 95%;
}

.txt-search-menu::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b9b9b9;
}

.txt-search-menu::-moz-placeholder { /* Firefox 19+ */
    color: #b9b9b9;
}

.txt-search-menu:-ms-input-placeholder { /* IE 10+ */
    color: #b9b9b9;
}

.txt-search-menu:-moz-placeholder { /* Firefox 18- */
    color: #b9b9b9;
}